/*!CK:1028606413!*//*1389601178,178191129*/



._1f84{background:#e2e3e6;border:1px solid;border-color:#d6d7da #d5d8dd #c7c8ca;-webkit-border-radius:3px;color:#373e4d;font-size:14px;font-weight:200;padding-bottom:8px;padding-left:12px;padding-right:10px;padding-top:8px;text-shadow:0 1px #fff}
._5jmm ._521o{margin-bottom:8px}
._1f86{font-weight:normal;padding-bottom:3px}
._5dh8{float:right;font-size:10px}
._1f84 a{color:#373e4d;font-weight:bold}
._5jmm ._1f84 ._1f87{display:block;font-size:14px}
._5pau ._1f86{font-weight:bold}
._i6m ._8ry, ._i6m ._6kq, ._i6m ._8rz, ._i6m ._5pcr{display:none}
._51mq{margin-right:3px;vertical-align:-2.9px}

.fbxWelcomeBox .fbxWelcomeBoxName{padding-bottom:1px}
.fbxWelcomeBoxBlock .fbxWelcomeBoxImg{height:40px !important;width:40px !important}
.fbxWelcomeBoxName{display:block;font-weight:bold;width:112px;word-wrap:break-word}
.fbxWelcomeBoxBlock{position:relative}
.litestandClassicWelcomeBox .fbxWelcomeBoxBlock:after{border:1px solid rgba(0, 0, 0, .10);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

body .fixedScrolling{position:fixed !important}
body.fixedBody #contentCol{min-height:617px}
body.fixedBody{overflow-x:hidden}
.fixedBody #blueBar,
.fixedBody #leftCol{position:fixed !important}
.fixedBody #blueBar{left:0;right:0}
.fixedBody .hideWhenFixed{display:none}
.home #rightCol .friend_list_right_column_header{height:44px}
.profileItemImg{height:16px;width:16px}
div.bookmarksMenuButton .uiCloseButton{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-133px -73px}
div.bookmarksMenuButton .uiCloseButton:hover, div.bookmarksMenuButton .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-151px -73px}
.uiSideNav ul{display:none}
.uiSideNav .open ul{display:block}
.uiSideNav .forceSubitems ul{display:block}
.uiSideNav .hidden{display:none}
.uiSideNav .item, .uiSideNav .subitem{color:#333;display:block;border-bottom:1px solid #fff;min-height:17px;line-height:13px;padding:3px 8px 0 28px;text-decoration:none}
.Locale_ar_AR .uiSideNav .item, .Locale_ar_AR .uiSideNav .subitem{line-height:14px}
.uiSideNav .subitem{padding-left:37px}
.uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus, .uiSideNav .highlighted .item:hover, .uiSideNav ul .highlighted .subitem:hover{background-color:#eff2f7;text-decoration:none}
.uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover{background-color:#d8dfea;font-weight:bold}
.uiSideNav .highlighted .item, .uiSideNav ul .highlighted .subitem{background-color:#fffbe2;text-decoration:none}
.uiSideNav .item .imgWrap{width:18px}
.uiSideNav .external{padding-right:12px;background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px}
.uiSideNav .item .linkWrap{display:block;max-width:116px;overflow:hidden;padding-left:0;text-overflow:ellipsis;white-space:nowrap}
.uiSideNavCountText{color:gray}
.uiSideNav .item .uiSideNavCountRed{background-color:#f64c4c;color:#fff}
.uiSideNav .uiSideNavCountRedBordered{background:#f03d25;border:solid 1px #c0311e;-webkit-border-radius:2px;color:#fff;display:inline-block;font-size:9px;margin-top:3px;padding:0 2px 0 3px;position:relative;white-space:nowrap}
.uiSideNav .loading .item, .uiSideNav .sideNavItem .loading .subitem{background-color:#eff2f7;border-color:#eff2f7;border-bottom-color:#fff}
.uiSideNav .loading .subitem{background-color:#fff;border-color:#fff}
.uiFutureSideNav .actionLinks{font-size:9px;font-weight:bold;text-transform:uppercase}
.droppableNav .actionLinks{display:block}
.actionLinks{line-height:12px;padding:4px 0 4px 28px;position:relative}
.uiSideNav .loadingIndicator, .actionLinks .loadingIndicator{display:none;position:absolute;right:10px;top:3px}
.loading .loadingIndicator, .async_saving .loadingIndicator{display:block}
.editMode .loadingIndicator, .loading ul .loadingIndicator{display:none}
.uiSideNav .showSubitems .hiddenSubitem, .uiSideNav .open .navMore{display:block}
.uiSideNav .hiddenSubitem, .uiSideNav .showSubitems .navMore, .uiSideNav .navMore{display:none}
.uiSideNav li .navMore{margin:4px 0 10px 37px}
.uiSideNav .loading .navMore{background-color:transparent}
.uiSideNav .item:hover .buttonWrap .uiCloseButton{visibility:visible}
.editMode .droppableNav .uiCloseButton,
.editMode .droppableNav .item:hover .uiCloseButton{visibility:visible}
.middot{display:none}
.expandedMode .middot{display:inline}
.uiSideNav .mover{display:none;left:-18px;overflow:hidden;position:absolute;text-align:right;top:3px;z-index:2}
.uiSideNav .placeholder{border:2px dashed gray}
.editMode .item{cursor:default;opacity:.5}
.editMode .item:hover{background-color:transparent}
.editMode .sortableItem{cursor:move;opacity:1}
.editMode .sortableItem:hover{background-color:#eff2f7}
.uiSideNav .mover .arrow{position:relative;top:-20px}
.uiSideNav .mover .arrow:active, .uiSideNav .mover .arrow:focus{top:0}
.droppableNav .grip{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-60px -49px;display:none;height:10px;margin-top:2px;width:10px}
.editMode .droppableNav .grip{display:block}
.editMode .uiSideNav .external{background-image:none}
.middot, .navEdit, .navDone{display:none}
.expandedMode .middot, .expandedMode .navEdit, .navEditDone .navEdit, .editMode .navDone{display:inline}
.editMode .draggingMode{opacity:.5}
.editMode .droppableNav .draggingMode{opacity:1}
.editMode .uiSideNav ul{display:none}
.editMode .middot, .editMode .navEdit, .editMode .navLessLink, .editMode .uiSideNav .count, .editMode .uiSideNav .divider, .editMode .uiSideNav .loading .mover, .editMode .uiSideNav .uiCloseButton{display:none !important}
#sideNav #pinnedNav{margin-top:16px}
#sideNav .homeSideNav .actionLinks, #sideNav #pinnedNav .hideOption{display:none}
#sideNav.editMode .homeSideNav .actionLinks{display:block}
#sideNav .refreshBookmarks{opacity:.5;pointer-events:none}
#sideNav .dropdownLink{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:right -54px;color:#999;font-size:9px;font-weight:bold;margin:0 2px;padding:0 9px 2px 3px}
#sideNav .companyTitle a{display:block;max-width:105px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.navHeader, .navHeader a{color:#999;font-size:9px;font-weight:bold;margin-top:12px}
.navHeader .bookmarksNavSeeAll{color:#6d84b4;white-space:nowrap}
.navHeader .uiSideNavSpinner{position:absolute;right:10px}
.editMode .nonDroppableNav{opacity:.5}
.editMode .nonDroppableNav .sortableItem{cursor:default}
.editMode .homeSideNav .bookmarksNavSeeAll, .homeSideNav .bookmarksNavSeeAll{visibility:hidden}
.homeSideNav:hover .bookmarksNavSeeAll, .forceMoreLink .bookmarksNavSeeAll{visibility:visible}
.homeSideNav a:hover{text-decoration:none}
.bookmarksNavSeeAll:hover{text-decoration:underline}
.homeSideNav .loading .bookmarksNavSeeAll{display:none}
.homeSideNav .bookmarksMenuButton ul{display:inline}
.sideNavItem:hover .bookmarksMenuButton .uiCloseButton, .sideNavItem .bookmarksMenuButton a.selected{visibility:visible}
.editMode .homeSideNav .sideNavItem .bookmarksMenuButton .uiCloseButton, .editMode .homeSideNav .sideNavItem:hover .bookmarksMenuButton .uiCloseButton{visibility:hidden}
.droppableNav .rearrange{display:inline}
.nonDroppableNav .rearrange{display:none}
.composerExpandedPhoto #leftCol{padding-top:2px}
.composerExpanded #content .newsFeedComposer{padding-top:5px}
.composerExpanded .newsFeedComposer #rightCol{padding-top:40px}
.composerExpandedPhoto .newsFeedComposer #rightCol{padding-top:38px}
.hasExpandedComposer .home_right_column,
.sidebarMode #content .hasExpandedComposer .home_right_column{margin-top:-12px}
.home #content .hasExpandedComposer .adsOnTop,
.home #content .hasExpandedComposer .stickyAds{margin-top:0}
div.uiComposerWithPhoto .focus_target{padding-left:58px}
div.uiComposerWithPhoto .focus_target .uiComposerMetaContainer{margin-left:2px;margin-top:-2px}
.uiComposerPhoto{position:absolute;top:7px}
div.friendListFeed .uiComposerPhoto{top:13px}
.composerExpandedPhoto .groupJumpLayout .groupComposerCleanWrap{margin-left:-7px;padding-top:7px}
div.uiComposerWithPhoto .focus_target .groupComposerCleanWrap .uiComposerMetaContainer{margin-top:-1px}
.composerExpandedPhoto div.fbExplicitAudienceComposer .focus_target{padding:3px 0 14px 76px}
.uiExpandedComposerWrap{position:relative}
.composerExpandedPhoto .composerLeftNub{background:url(/rsrc.php/v2/ym/r/S816VGiLK0d.gif) no-repeat;height:11px;left:54px;position:absolute;top:37px;width:7px;z-index:2}
.home .friendListFeed .composerLeftNub{top:43px}
.composerExpanded .uiComposerWithPhoto .uiComposerAttachment .nub{display:none}
.fbFeedTicker .fbFeedTickerStory .uiStreamPassive, .fbFeedTicker .fbFeedTickerStory .tickerAttachmentBodyText, .fbFeedTicker .tickerStoryClickable a, .fbFeedTicker .tickerStoryClickable .passiveName, .fbFeedTicker .tickerStoryClickable .token, .fbFeedTicker .tickerStoryClickable ._58cl, .fbFeedTicker .tickerStoryClickable ._58cn{color:#333;outline:0;text-decoration:none}
#pagelet_rhc_ticker{margin-top:-5px}
#pagelet_rhc_ticker .fbFeedTicker{padding-top:5px}
.homeFixedLayout .fbFeedTicker.fixed_elem{background-color:#fff;z-index:2}
.homeFixedLayout #contentCurve{height:0}
div#contentCol.homeFixedLayout{padding-top:5px}
.homeFixedLayout div#contentArea{padding-bottom:20px}
.tickerOnTop #pagelet_rhc_ticker{margin-top:0;margin-bottom:5px}
.adsOnTop .rightColumnWrapper .fixed_scrolling_wrapper,
.tickerOnTop .rightColumnWrapper{width:244px}
.sidebarMode .tickerOnTop #pagelet_rhc_ticker{margin-bottom:0}
.tickerOnTop #pagelet_rhc_ticker .fbFeedTicker{padding-top:0}
.sidebarMode .tickerOnTop #pagelet_reminders .fbReminders{margin:6px 0 12px 0}
.tickerOnTop #pagelet_reminders .fbReminders{margin:8px 0 10px 0}
.tickerOnTop .ticker_container .ticker_stream{margin-top:-1px}
.tickerOnTop .ego_section{margin-bottom:0}
.tickerOnTop .fbFeedTicker .ticker_container:before,
.tickerOnTop .fbFeedTicker .ticker_container:after{background-color:rgba(0, 0, 0, .10) !important;content:"";display:block;height:1px !important;position:absolute;width:100%;z-index:2}
.tickerOnTop .forceThickLine .ticker_container:before,
.tickerOnTop .forceThickLine .ticker_container:after{background-color:transparent !important}
.tickerOnTop .fbFeedTicker .ticker_container:after{bottom:0}
.tickerOnTop .fbFeedTicker .fbTickerFooter{border-top:3px solid #f2f2f2}
div.composerOpen #rightCol{padding-top:40px}
.homeFixedLayout #rightCol{padding-top:56px}
.sidebarMode .hasExpandedComposer .tickerOnTop .fbMomentsTickerToggle, .sidebarMode .hasExpandedComposer .tickerOnTop .fbRemindersThickline{visibility:hidden}
.hasExpandedComposer .stickyAds .fbRemindersThickline, .hasExpandedComposer .stickyAds .fbMomentsTickerToggle, .sidebarMode .home .hasExpandedComposer .stickyAds .fbMomentsTickerToggle, .sidebarMode .home .hasExpandedComposer .stickyAds .fbRemindersThickline{display:block;visibility:visible}
.ticker .home .hasExpandedComposer .home_right_column{margin-top:0}
.home_right_column .fbFeedTicker{border-bottom:1px solid #c1c1c1;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .10)}
.fbFeedTicker{width:244px}
.homeFixedLayout .uiContextualDialogArrowRight{margin-right:3px}
.homeFixedLayout #rightCol .uiSideHeader, #rightCol .tickerHeader{margin-bottom:8px;padding:3px 6px}
.homeFixedLayout #rightCol .uiSideHeader a{color:#6d84b4}
.homeFixedLayout #rightCol .tickerHeader{margin-bottom:0}
.homeFixedLayout #rightCol .tickerHeader a{display:block}
.homeFixedLayout #rightCol .tickerHeader a .img{display:block;padding-top:2px}
.tickerStoryContent{max-width:183px}
.fbFeedTicker.disconnected{opacity:.3}
.fbFeedTicker .fbFeedTickerStory{background:#fff no-repeat 15px 16px;border-bottom:1px solid #fff;border-top:1px solid #e9e9e9;line-height:14px;outline:0;padding:6px 14px 6px 2px;position:relative}
.fbFeedTicker .fbFeedTickerStory.tickerStoryRtl{background-position:212px 16px}
.hidden_rhc_ticker{display:none}
.adsOnTop .fbRemindersThickline, .tickerOnTop .fbRemindersThickline, .adsOnTop .fbMomentsTickerToggle, .tickerOnTop .fbMomentsTickerToggle{display:none}
.adsOnTop div.fbRemindersThicklineForce, .tickerOnTop div.fbRemindersThicklineForce, #pagelet_reminders .displayedTickerToggleWrapper, #pagelet_moments .displayedTickerToggleWrapper{display:block}
.sidebarMode #pagelet_moments .tickerLineToggle, .sidebarMode #pagelet_reminders .tickerLineToggle, .sidebarMode #pagelet_sidebar .tickerLineToggle, .sidebarMode #pagelet_rhc_ticker .tickerLineToggle, .canvasTicker #pagelet_ticker .tickerLineToggle{display:none}
.sidebarMode #pagelet_reminders #fbTickerClosedEd, .sidebarMode #pagelet_current #fbTickerClosedEd, .sidebarMode #pagelet_sidebar #fbTickerClosedEd, .sidebarMode #pagelet_rhc_ticker #fbTickerClosedEd, .canvasTicker #pagelet_ticker #fbTickerClosedEd{display:none}
.tickerToggleWrapper{position:relative}
.tickerLineToggle{display:none}
.displayedTickerToggleWrapper .tickerLineToggle{background-color:#fff;display:inline-block;height:7px;position:absolute;right:6px;top:-6px;width:20px;z-index:3}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleNormal{padding-left:4px}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleAsync{padding-left:2px}
.displayedTickerToggleWrapper .async_saving .tickerLineToggleNormal{display:none}
.canHaveFixedElements #fixed_scrolling_container .displayedTickerToggleWrapper, .canHaveFixedElements .fixed_elem .displayedTickerToggleWrapper{margin-top:15px}
.canHaveFixedElements .fixed_elem .toggleWrapperWithoutMargin{margin-top:0 !important}
.fbRemindersThickline, .sidebarMode .fbRemindersThickline{background:#e9e9e9;border-top:1px solid #ccc;display:block;height:1px}
.tickerOnTop .fbFeedHeadThickLineCapable{border-top:1px solid #ccc}
.fbFeedTicker .tickerStoryHidden .tickerStoryBlock{display:none}
.fbFeedTicker .fbFeedTickerStory .tickerStoryImage{margin-right:8px}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{display:inline;font-size:11px;font-weight:normal}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/yc/r/txap4ouPYSe.png);background-repeat:no-repeat;background-size:auto;background-position:-156px -40px;height:9px;width:11px}
.fbFeedTicker .fbFeedTickerStory .actorName, .fbFeedTicker .fbFeedTickerStory .actorDescription{display:inline}
.fbFeedTicker .fbFeedTickerStory .removeStory{float:right;margin-right:-5px}
.fbFeedTicker .fbFeedTickerStory .fbEmuHidePoll{padding-left:5px}
.fbFeedTicker .tickerStoryClickable{cursor:pointer}
.fbFeedTicker .tickerStoryHidden{cursor:auto}
.fbFeedTicker .tickerStoryActive, .fbFeedTicker .tickerStoryClickable:hover{background-color:#eceff5 !important;border-bottom-color:#eceff5 !important}
.fbFeedTicker .tickerStoryClicked, .fbFeedTicker .tickerStoryClicked:hover, .fbFeedTicker .tickerStorySelected, .fbFeedTicker .tickerStorySelected:hover{background-color:#d8dfea !important;border-color:#a8b2ce !important}
.fbFeedTicker .tickerStoryHidden, .fbFeedTicker .tickerStoryHidden:hover{background-color:#fff !important;border-bottom:1px solid #fff !important;border-top:1px solid #e9e9e9 !important}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive{background-image:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif)}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive .tickerStoryImage{visibility:hidden}
.fbFeedTicker .scrollTopPrompt{background:#e7e9ef url(/rsrc.php/v2/yU/r/n93MoBZD7fU.png) center 3px
no-repeat;-webkit-box-shadow:rgba(67, 74, 90, .3) 0 1px 0;cursor:pointer;height:10px;position:absolute;width:244px;z-index:1}
.fbFeedTicker .scrollTopPrompt:hover{background-color:#e1e2e9}
.home_right_column .fbFeedTicker .scrollTopPrompt{background:#fbfbfb url(/rsrc.php/v2/yU/r/n93MoBZD7fU.png) center 3px
no-repeat;-webkit-box-shadow:rgba(0, 0, 0, .15) 0 1px 0}
.home_right_column .fbFeedTicker .scrollTopPrompt:hover{background-color:#f2f2f2;-webkit-box-shadow:rgba(0, 0, 0, .18) 0 1px 0}
.fbFeedTicker .fbFeedTickerStory .attachmentLink{border-left:2px solid #ccc}
.fbFeedTicker .attachmentPhotoOuter{width:54px;height:34px;border:1px solid #ccc;padding:2px;float:left;margin-left:3px}
.fbFeedTicker .attachmentPhotoOuter:first-child{margin-left:0}
.fbFeedTicker .tickerPhotoAttachment{display:none;overflow:hidden}
div.fbFeedTicker .tickerStoryClickable .uiTooltipWrap{display:none}
.fbFeedTicker .attachmentPhotoInner{overflow:hidden;width:54px;height:34px}
.fbFeedTicker .attachmentPhoto{width:54px}
.fbFeedTicker .highlightedStory{background-color:#fff9d7 !important;border-color:#e2c822 !important;padding:10px 5px;text-align:center}
.fbFeedTicker .noTimestamps .ticker_timestamp{display:none}
.fbFeedTicker .tickerSpamMenu{padding-left:5px;background:transparent !important}
.fbFeedTicker .uiStreamInlineReplaceList{margin-left:15px;margin-top:5px}
.tickerNUXDialog{margin-top:50px}
.fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#f4f4f4;border-bottom-color:silver;border-top-color:#ccc;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 0;margin:-2px 0 -15px 0;padding:8px 8px 8px 10px;z-index:10}
.tickerInlineOverlay{background-color:#fff;border:1px solid #ccc;border-color:rgba(0, 0, 0, .2);-webkit-border-radius:2px;border-right:none;-webkit-box-shadow:5px 0 10px 10px #eceff5;color:#6d84b4;display:none;height:17px;margin-top:-12px;padding:3px 10px 0 6px;position:absolute;right:0;top:50%}
.fbFeedTicker .tickerStoryActive .tickerInlineOverlay{display:block}
.fbFeedTicker .tickerStorySelected .tickerInlineOverlay{-webkit-box-shadow:5px 0 10px 10px #d8dfea}
.tickerInlineOverlay:hover{border-color:#7489b6;border-color:rgba(59, 89, 152, .55)}
.tickerInlineOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:rgba(59, 89, 152, .5)}
.tickerInlineOverlayDisabled{background-color:#fff !important;border-color:rgba(0, 0, 0, .2) !important}
.tickerActionBottomButton{display:none !important}
.tickerActionExpandableButton{margin-top:-9px;position:absolute;right:7px;top:50%}
.tickerActionExpandableButton .tickerActionButtonLink{background-color:#f8f8f8;background-image:-webkit-gradient(linear, center bottom, center top, from(#f0f0f0), to(#fff));background-image:-webkit-linear-gradient(bottom, #f0f0f0, #fff);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .10);height:16px;padding:3px 0 1px 20px;width:0}
.tickerStoryClicked .tickerActionExpandableButton .tickerActionButtonLink{background-color:#fff;background-image:-webkit-gradient(linear, center bottom, center top, from(#fff), to(#f0f0f0));background-image:-webkit-linear-gradient(bottom, #fff, #f0f0f0)}
.tickerActionExpandableButton .tickerActionVerb{color:#3b5998;display:none;font-weight:bold}
.fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionButtonLink, .tickerStoryActive .tickerActionExpandableButton .tickerActionButtonLink{width:auto}
.tickerStoryActive .tickerActionExpandableButton .tickerActionVerb, .fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionVerb{display:inline}
.tickerActionExpandableButton .tickerActionIcon{position:absolute;left:6px;top:6px}
.tickerActionButtonLink{background-color:#fff;border:1px solid #96a2c4;-webkit-border-radius:3px;display:block}
.tickerActionButtonLink .tickerActionVerb{padding-right:4px}
.fbFeedTicker .tickerStoryWithIcon{padding-right:18px !important}
.fbFeedTicker .tickerStoryWithButton{padding-right:33px !important}
.fbFeedTickerStory .tickerVisitIcon{display:none;margin-top:-3px;opacity:.7;position:absolute;right:7px;top:50%}
.fbFeedTickerStory:hover .tickerVisitIcon{display:block}
.tickerMusicButtonImg{background-image:url(/rsrc.php/v2/yZ/r/KjeUsuyBIfm.png);background-repeat:no-repeat;background-size:auto;background-position:-24px -596px;height:11px;width:9px}
.tickerNewsButtonImg{background-image:url(/rsrc.php/v2/yZ/r/KjeUsuyBIfm.png);background-repeat:no-repeat;background-size:auto;background-position:0 -596px;height:11px;width:11px}
.tickerVideoButtonImg{background-image:url(/rsrc.php/v2/yZ/r/KjeUsuyBIfm.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -596px;height:11px;width:11px}
.tickerActionButtonImg{background-image:url(/rsrc.php/v2/yZ/r/KjeUsuyBIfm.png);background-repeat:no-repeat;background-size:auto;background-position:0 -608px;height:10px;width:10px}
.tickerActionExpandableButton img.tickerGameButtonImg{background-image:url(/rsrc.php/v2/yZ/r/KjeUsuyBIfm.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -579px;height:14px;width:11px;top:5px}
#fbTickerClosedEd{border-bottom:1px #ccc dashed}
.fbFlyoutDialog.tickerStoryOverlayOnTop{z-index:300}
.homeWiderContent div#rightCol .home_right_column{width:244px}
div#contentCol.homeWiderContent,
.homeWiderContent #bottomContent{padding-left:0;padding-right:0}
.homeWiderContent div#rightCol{padding-right:0}
.hasLeftCol .homeWiderContent div#contentArea{padding-left:18px;padding-right:25px;width:511px}
div.homeWiderContent .megaphone_box{margin-left:-18px;margin-top:-5px}
._49nu{left:-9999px;position:absolute}

.sp_1s4w5z{background-image:url(/rsrc.php/v2/yk/r/M43qJagp41s.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_a49ccf{background-position:0 0}
.sx_e91621{background-position:0 -17px}
.sx_92d78b{background-position:0 -34px}
.sp_843e1e{background-image:url(/rsrc.php/v2/yw/r/sYgLb4uGUBt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e99876{background-position:-343px -77px}
.selected .sx_e99876{background-position:-327px -77px}
.sx_6795e8{background-position:-376px -77px}
.selected .sx_6795e8{background-position:-360px -77px}
.sx_96ed07{width:160px;height:160px;background-position:0 -77px}
.sx_c7abd4{width:17px;background-position:-309px -77px}
.selected .sx_c7abd4{background-position:-292px -77px}
.sx_c75cb0{width:12px;height:12px;background-position:-499px -77px}
.selected .sx_c75cb0{background-position:-486px -77px}
.sx_447ccd{width:12px;height:12px;background-position:-356px -94px}
.selected .sx_447ccd{background-position:-344px -94px}
.sx_f06c37{width:6px;height:11px;background-position:-341px -132px}
.selected .sx_f06c37{background-position:-335px -132px}
.sx_65694a{background-position:-409px -77px}
.selected .sx_65694a{background-position:-393px -77px}
.sx_7ca87a{width:12px;height:12px;background-position:-525px -77px}
.selected .sx_7ca87a{background-position:-512px -77px}
.sx_f3ca60{width:12px;height:12px;background-position:-551px -77px}
.selected .sx_f3ca60{background-position:-538px -77px}
.sx_3a289d{width:12px;height:12px;background-position:-577px -77px}
.selected .sx_3a289d{background-position:-564px -77px}
.sx_6449bd{width:12px;height:12px;background-position:-305px -94px}
.selected .sx_6449bd{background-position:-292px -94px}
.sx_416ab8{width:12px;height:12px;background-position:-331px -94px}
.selected .sx_416ab8{background-position:-318px -94px}
.sx_61be13{background-position:-161px -147px}
.sx_877534{background-position:-178px -147px}
.sx_f7da7e{width:28px;height:28px;background-position:-161px -118px}
.sx_3fd67b{width:28px;height:28px;background-position:-190px -118px}
.sx_38fa67{width:28px;height:28px;background-position:-219px -118px}
.sx_a763ab{width:28px;height:28px;background-position:-248px -118px}
.sx_be28f9{width:34px;height:34px;background-position:-257px -77px}
.sx_17a20d{background-position:-195px -147px}
.sx_2607cf{background-position:-212px -147px}
.sx_53d739{background-position:-229px -147px}
.sx_7ed750{background-position:-246px -147px}
.sx_851d40{background-position:-263px -147px}
.sx_2d04fd{background-position:-280px -147px}
.sx_4108a3{width:28px;height:28px;background-position:-277px -118px}
.sx_477a90{width:28px;height:28px;background-position:-306px -118px}
.sx_34cf49{background-position:-297px -147px}
.sx_76f51c{background-position:-314px -147px}
.sx_419759{background-position:-331px -147px}
.sx_bd7a77{background-position:-348px -147px}
.sx_6acdbe{width:613px;height:76px;background-position:0 0}
.sx_df735d{width:80px;height:17px;background-position:-169px -89px}
.sx_198eca{width:26px;background-position:-459px -77px}
.sx_78bcce{background-position:-442px -77px}
.selected .sx_78bcce{background-position:-426px -77px}
.sx_863122{width:12px;height:10px;background-position:-381px -94px}
.selected .sx_863122{background-position:-369px -94px}
.sx_9901c9{width:10px;height:10px;background-position:-600px -77px}
.selected .sx_9901c9{background-position:-590px -77px}
.sx_e00037{width:10px;height:10px;background-position:-404px -94px}
.selected .sx_e00037{background-position:-394px -94px}
.sx_582060{width:9px;height:10px;background-position:-424px -94px}
.selected .sx_582060{background-position:-415px -94px}
.sx_555274{width:9px;height:13px;background-position:-344px -118px}
.selected .sx_555274{background-position:-335px -118px}
.sx_15f546{width:9px;height:7px;background-position:-443px -94px}
.selected .sx_15f546{background-position:-434px -94px}
.sx_32ef33{width:8px;height:9px;background-position:-362px -118px}
.selected .sx_32ef33{background-position:-354px -118px}
.sp_e16tux{background-image:url(/rsrc.php/v2/yp/r/os54poqnj3g.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_034b24{background-position:0 0}
.sx_8f6494{background-position:0 -17px}
.sx_b5c9cd{background-position:0 -34px}
.sx_e8f037{background-position:0 -51px}
.sx_fa5d90{background-position:0 -68px}
.sx_65c228{background-position:0 -85px}
.sx_6156d5{background-position:0 -102px}
.sx_68470a{background-position:0 -119px}
.sx_ee9896{background-position:0 -136px}
.sx_1957c7{background-position:0 -153px}
.sx_2c12ae{background-position:0 -170px}
.sx_5502b2{background-position:0 -187px}
.sx_db2f9b{background-position:0 -204px}
.sx_c54e14{background-position:0 -221px}
.sx_50c104{background-position:0 -238px}
.sx_316b30{background-position:0 -255px}
.sx_dc593c{background-position:0 -272px}
.sx_cacea3{background-position:0 -289px}
.sx_105ac7{background-position:0 -306px}
.sx_2a1a48{background-position:0 -323px}
.sx_11deba{background-position:0 -340px}
.sx_5966ee{background-position:0 -357px}
.sx_173625{background-position:0 -374px}
.sx_abce6d{background-position:0 -391px}

._5yr4 ._5ys3{margin-bottom:16px;margin-top:16px}
._5pb_{width:398px}
._5pa- ._5pb_{width:364px}
._5pc0, ._5pc1{border:0;display:block;float:left;position:relative}
.uiStreamStory .photoRedesignSmallEdge .photoWrap{margin-right:-1px}
._5pc0 .img{display:block;margin:0;max-width:none}
._5pc2 ._5pc3{background:none;text-align:left;width:auto}
._5pc0:after, ._5pc1 .uiScaledImageContainer:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5pc4{margin-right:-1px}
._5pb0{background:#f7f7f7;max-width:398px}
._5pa- ._5pb0{max-width:358px}
._5rwn:hover{text-decoration:none}
._5pb2:hover{text-decoration:underline}
._5pb3{display:block}
._5rwo{display:block;padding:10px}
._5pb1{max-height:73px;overflow:hidden}
._5pb6{margin-top:3px}
._5rwp ._5pb1{max-height:46px}
._5rwq ._5pb1{max-height:134px}
._5rwq._5rwp ._5pb1{max-height:86px}
._5rwr._5rwp ._5pb6{display:none}
._5rws{bottom:10px;position:absolute;right:10px}
._5rwt{padding-left:24px}
._5p3y ._5pb1{max-height:78px}
._5p3y ._5rwq ._5pb1{max-height:123px}
._5p3y ._5pb4{max-height:78px}
._5p3y ._5pb5 ._5pb4{max-height:122px}
._5pcd, ._5pce{display:block;max-height:208px}
._5pcd{max-width:398px}
._5pce{max-width:358px}
._5pcf{height:154px;width:154px}
._5pcf .img{display:block;max-height:154px;max-width:154px}
._5pcg{height:90px;width:90px}
._5pcg .img{display:block;max-height:90px;max-width:90px}
._5pch{text-align:center}
._5pci{position:relative}
._5pcj{min-height:90px}
._5pck{display:block;max-height:130px}
._5r69{max-width:398px}
._5x16 ._5r69{max-width:initial}
._5pcm{border-left:2px solid #ccc}
._5pcn, ._5pco{font-size:11px}
._5p3y ._5pcn, ._5p3y ._5pco{font-size:12px}
._5pco{color:gray}
._5pco .text_exposed_link{display:block;padding:4px 0 0}
a._5pbb img{max-height:none;max-width:none}
._5pbc{position:relative}
._5pbd{background:url(/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png) no-repeat 0 0;bottom:5px;height:26px;left:5px;position:absolute;width:35px}
._5pcb{margin-left:-18px}
._5vb_ ._5pcb{margin-left:0}
._5pcc{margin-bottom:-5px;position:relative;z-index:1}
._5pbu{position:relative}
._5pbv{border-top:1px solid #e9e9e9;margin-top:12px;padding-top:10px}
._5uqk{border:1px solid #e5e5e5;-webkit-border-radius:3px;margin-top:12px;padding:12px}
._5pao{position:relative}
._5pap, ._5paq, ._5par, ._5pas{background:rgba(0, 0, 0, .08);position:absolute}
._5pap, ._5par{height:1px;left:0;right:0}
._5qeh ._5pap, ._5qeh ._5par{left:1px;right:1px}
._5paq, ._5pas{bottom:1px;top:1px;width:1px}
._5qeh ._5paq, ._5qeh ._5pas{bottom:2px;top:2px;width:1px}
._5pap{top:0}
._5paq{right:0}
._5par{bottom:0}
._5pas{left:0}
._5r80{background:#f7f7f7}
._5pau{padding-left:60px}
._5v3q ._5pau{padding-left:0;padding-right:50px}
._5pbe{background:#fff;color:#ccc;left:32px;padding:0 8px;position:absolute;top:-6px}
._5v3q ._5pbe{color:#898f9c;font-size:11px;-webkit-font-smoothing:antialiased;left:39px}
._5pbf{float:right;margin:-10px 0 0 15px}
._5yl7{float:right;margin:-2px 0 0 15px}
._5v3q ._5pbf{margin:0}
._5pbg._5pa-{padding-top:24px}
._5v3q ._5pbg._5pa-{padding-top:16px}
._5pa-{position:relative}
._5pa_{margin-left:40px}
._5pbo{float:right;margin:-2px 17px 0 15px}
._5v3q ._5pbo{margin-right:20px;margin-top:0}
._5pbi{opacity:0;position:absolute;right:-10px;top:-2px}
._5jmm:hover ._5pa- ._5pbi{opacity:0}
._5pbi.openToggler, ._5jmm:hover ._5pbi, ._5jmm:hover ._5pa-:hover ._5pbi{opacity:1}
._5pbj{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:0 -72px;height:23px;width:20px}
._5pbj:hover{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-21px -72px}
._5pbj:active, .openToggler ._5pbj{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-42px -72px}
._5pbk{margin-top:-2px}
._5pbi._5puc{opacity:1;right:0;top:0}
.uiCollapsedList ._5puc{top:-10px}
._5v3q .uiCollapsedList ._5v9_ ._5puc, .uiCollapsedList ._5pa- ._5pa- ._5puc{top:0}
._5puc ._5pbj, ._5puc ._5pbj:active{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-91px -72px;height:20px;margin-right:0;margin-top:10px;width:20px}
._5v3q ._5puc ._5pbj, ._5v3q ._5puc ._5pbj:active{margin-right:7px}
._5jmm:hover ._5puc._5pbi, ._5jmm:hover ._5pa-:hover ._5puc._5pbi{opacity:1}
._5puc ._5pbj:hover, ._5puc.openToggler ._5pbj{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:-66px -73px}
._5puc._5pbk._5pbk{margin-bottom:3px}
._5qdu{background-color:#ccc;display:none;height:100%;left:0;position:absolute;top:0;width:3px}
._5qdv{outline:none}
._5vb_ ._5qdv{border-color:#a0bdf6}
._5qdv ._5qdu{display:block}
._5vb_ ._5qdv ._5qdu{display:none}
._5pat{position:relative;word-wrap:break-word}
._5v3q{padding:12px}
._5uch{border-bottom:1px solid #e9e9e9;padding:18px 35px 18px 18px}
._5pb8{float:left}
._5pat ._5sq7{height:40px;width:40px}
._5v9u{position:relative}
._5v9u ._5xib{display:block}
._5v9u:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5pax{margin-left:60px}
._5sq8 ._5pax{margin-left:50px}
._5r-_ ._5uch{padding-right:13px}
._5pbm{margin-left:-4px;margin-top:-4px}
._5pbm .uiButton .customimg{margin-top:2px}
._5pbm .uiSelectorOption .itemIcon{display:none}
._5qla{margin-top:2px;vertical-align:top}
._5pcp a, ._5pcp button.as_link, ._5pcp .uiLinkButton input, ._5pcp .uiLinkButton input:hover{color:#6d84b4}
._5pcp, a._5pcq{color:#999}
._5v3q ._5pcp, ._5v3q a._5pcq{color:#898f9c}
._5paw a{color:#999}
._5v3q ._5paw .uiStreamSponsoredLink{color:#898f9c}
._5pa- ._5pc9{width:358px}
._5yr4 ._5pc9{margin-top:6px}
._5v9k .UFIAddComment .UFIImageBlockImage, ._5v9k .UFIComment .UFIImageBlockImage{position:relative}
._5v9k .UFIAddComment .UFIImageBlockImage:after, ._5v9k .UFIComment .UFIImageBlockImage:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5pc9._5yjv{margin:5px -9px -9px;width:auto}
._5pbw, ._5pbx{font-size:13px;font-weight:normal;line-height:1.38}
._5pbw{margin-bottom:2px;padding-right:22px}
._5yr4 ._5pbw, ._5yr4 ._5pbx{margin-bottom:12px}
._5v3q ._5pbw .fcg{color:#898f9c}
._5pbx span.text_exposed_link{display:block;font-size:11px;padding-left:0;padding-top:4px}
._5pby{min-height:14px}
._5pbw._5yig{margin-bottom:7px}
._5p3y ._5pbw, ._5p3y ._5pbx{font-size:14px}
._5p3y ._5pbx span.text_exposed_link{font-size:12px}
.uiStream .uiStreamHeader{background-color:#e9e9e9;border-top:1px solid #ccc;height:1px;margin:20px 0 5px -18px;padding:0;position:relative}
.hasExpandedComposer .uiStream .uiStreamHeader{border-top:0;margin-top:10px}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm, .uiStream .uiStreamHeader .uiStreamHeaderText{background-color:#fff;left:0;padding-right:2px;position:absolute}
.uiStream .uiStreamHeader .uiStreamHeaderText{color:gray;margin-left:68px;top:-6px}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm{left:auto;right:35px;top:-6px}
.uiStreamHeaderChronologicalForm .sortLink{background-image:url(/rsrc.php/v2/y5/r/qs7LEkK2L_M.png);background-repeat:no-repeat;background-size:auto;background-position:right -55px;color:gray;font-size:9px;font-weight:bold;margin:0 2px;padding:0 9px 2px 3px}
._505o{position:relative}
._505o > button{background-color:transparent;border:0;bottom:0;height:27px;position:absolute;text-indent:-10000px}
._505n{left:0;width:56px}
._505m{left:56px;width:32px}
.uiSideNav .loading .uiSideNavSpinner, .uiFutureSideNav .loading .uiSideNavSpinner{display:inline-block}
.editMode .uiSideNav .loading .uiSideNavSpinner, .uiSideNav .loading ul .uiSideNavSpinner{display:none}
.uiSideNav .uiSideNavSpinner{position:relative;right:1px;top:2px}
.uiSideNav .subitem .uiSideNavSpinner{top:1px}
.uiSideNav .buttonWrap{clear:left;float:left;height:20px;text-align:right;width:20px}
.uiSideNav .sideNavItem{padding-right:20px;margin-left:-20px;width:100%}
.uiSideNav .drag{margin-left:0}
.uiSideNav .item, .uiSideNav .subitem{margin-left:20px;margin-right:-20px;-webkit-user-select:none}
.uiSideNav .sideNavItem .imgWrap{margin-left:-22px;margin-top:-1px;float:left}
.uiSideNav .sideNavItem .linkWrap{display:block;overflow:hidden;padding-left:0;text-overflow:ellipsis;white-space:nowrap}
.uiSideNav .sideNavItem .hasCount{max-width:110px}
.uiSideNav .sideNavItem .noCount{max-width:145px}
.uiSideNav .sideNavItem .subitem .hasCount{max-width:90px}
.uiSideNav .sideNavItem .subitem .noCount{max-width:125px}
.uiSideNav .loading .noCount{max-width:127px}
.uiSideNav .sideNavItem .uiSideNavEditButton{margin:2px 5px 0 0;text-align:left}
.uiSideNav .sideNavItem .uiCloseButton{opacity:0}
.uiSideNav .sideNavItem .uiCloseButton:focus, .uiSideNav .sideNavItem:hover .uiCloseButton, .uiSideNav .sideNavItem .openToggler .uiCloseButton{opacity:1}
.uiNarrowSideNav .uiSideNav .sideNavItem:hover .buttonWrap, .uiNarrowSideNav .uiSideNav .editMenuOpened .buttonWrap{display:block;padding-right:4px;width:25px}
.uiNarrowSideNav .uiSideNav .buttonWrap, .uiNarrowSideNav .uiSideNav .sideNavItem:hover .item .rfloat, .uiNarrowSideNav .uiSideNav .editMenuOpened .item .rfloat{display:none}
.uiNarrowSideNav .uiSideNav .buttonWrap{float:right;margin-right:-2px;width:0}
.uiNarrowSideNav .sideNavItem{padding-right:0;margin-left:0}
.uiNarrowSideNav .sideNavItem .item, .uiNarrowSideNav .sideNavItem .subitem{margin-left:0;margin-right:0}

#bootloader_zhO9A { height: 42px; }
.bootloader_zhO9A { display:block !important; }