.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.panel-body .tab-content {
    margin-left: 110px;
}

.group_posts {
    overflow: hidden;
}

.group_posts > .post {
    float: left;
    width: 230px;
    margin: 8px;
    position: relative;
    height: 300px;
}

.group_posts > .post .post_thumb {
    height: 100px;
    overflow: hidden;
}

.group_posts > .post .post_thumb img {

}

.group_posts > .post .top-bar {
    top: 0;
    height: 24px;
    padding: 4px 8px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #CCC;
}

.group_posts > .post .top-bar .likes-box, .group_posts > .post .top-bar .shares-box, .group_posts > .post .top-bar .comments-box {
    color: #3B5998;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding-left: 20px;
    float: left;
    padding-right: 10px;
}

.group_posts > .post .top-bar .likes-box {
    background: url('../images/facebook-like-icon.png') no-repeat;
}

.group_posts > .post .top-bar .shares-box {
    background: url('../images/icon-share.png') no-repeat;
}

.group_posts > .post .top-bar .comments-box {
    background: url('../images/facebook-comments-icon.png') no-repeat;
}

.group_posts > .post .bot-bar {
    bottom: 0;
    height: 32px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    opacity: 0.8;
}

.group_posts > .post .top-bar, .group_posts > .post .bot-bar {
    position: absolute;
    background: #eee;
    -webkit-transition: opacity 0.5s;
}

.group_posts > .post .top-bar:hover, .group_posts > .post .bot-bar:hover {
    opacity: 1;
}

.group_posts > .post .post_caption {
    font-weight: bold;
    height: 35px;
    overflow: hidden;
    font-size: 13px;
    vertical-align: middle;
    display: table-cell;
}

.group_posts > .post .post_description {
    height: 110px;
    overflow: hidden;
    font-size: 0.9em;
}

.group_posts > .post .post_actor {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background: #FFF;
    position: absolute;
    right: 15px;
    top: 90px;
    z-index: 5;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    -webkit-transition: opacity, border 0.5s;
}

.group_posts > .post .post_actor:hover {
    opacity: 1;
    border-color: #FF7A00;
}


.group_posts > .post .post_read_more > a {
    font-size: 0.8em;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.table {
    width: 300px;
}

.bw {
    max-height: 250px;
    overflow: auto;
}

.form-inline {
    width: 300px;
    float: left;
}

.post {
    padding: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #c4cde0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.post_header {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
}

.post .actions a {
    font-weight: normal;
    color: #6D84B4;
    margin-left: 5px;
}

.post .ago:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post:last-child {
    border-bottom: none;
}

.post .post_actor_pic {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 10px;
}

.post .post_actor_pic img {
    width: 50px;
    height: 50px;
    display: block;
}

.post_text {
    padding: 0px 5px;
}

.post_header .meta, .post_header .meta a {
    font-size: 11px;
    color: #aaa;
    margin-top: 3px;
    text-decoration: none;
    font-weight: normal;
}

.post .post_content {
    display: table-cell;
}

.post .link_picture {
    max-width: 150px;
    float: left;
    margin-right: 10px;
}

.post .link {
    overflow: hidden;

}

.post .link a {
    display: block;
}

.post .link_photo .link_picture {
    max-width: 100% !important;
    float: none;
    display: block;
    margin-right: 0px;
}

.post .pic_wide {
    max-width: 100%;
}

.post .link {
    word-wrap: break-word;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
}

.post .link .mts.small.light {
    max-height: 50px;
    overflow: hidden;
}

/* Post types */
.post.type_photo .link_picture {
    max-width: 180px;
}

.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, .10)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .10)), color-stop(.75, rgba(0, 0, 0, .10)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .10) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .10) 50%, rgba(0, 0, 0, .10) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50px 0;
    }
}

#ajax {
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 9999;
}

.keep-it-button {
    border-radius: 3px;
    padding: 2px 3px;
    background: orange;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.container {
    position: relative;
}

#logo {
    position: absolute;
    top: 3px;
    right: 3px;
}

#logo a {
    text-decoration: none;
}